<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
 th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>This is test page</title>
</head>
<body>
  
<section class="banner d-flex justify-content-center align-items-center">

  <div class="text-center">
  <h1 class="font-weight-bold">Smart Contact Manager</h1>
 <!--  <p>
  Start information whose want to talk that people
  </p> -->
  <button class="btn bg-primary btn-lg">Get Start</button>
  
  </div>
</section>
</body>
</html>